body {
  background-color: white;
}

header, footer {
  background-color: #FD525B;
  padding: 10px;
  font-weight: bolder;
  color: white;
  font-size: 50px;
  box-shadow: 0px 0px 10px #FD525B;
}

#barraNav{
  margin-top: 5px;
}

#barraNav input{
  color: white;
  background-color: #FD525B;
}

#barraNav input:hover{
  background-color: white;
  color: #FD525B;
  text-shadow: 0px 0px 10px #FF7052;
}

.logo{
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  background-color: #E63C44;
  border-radius: 0px 30px 30px 0px;
  border: 5px solid #FB4750;
}

footer, .separador{
  clear: both;
  display: block;
}

footer{
  bottom: 0px;
}

.activado{
  background-color: white !important;
  color: #FD525B !important;
}

.central{
  min-height: 400px;
  padding-top: 100px;
  background-color: white;
}

table{
  border: 2px solid gray;
  box-shadow: 0px 0px 10px gray;
}

input.Valores{
  color: gray;
  border: 1px solid gray;
  box-shadow: 0px 0px 2px gray;
}

.ofertas{
  padding-top: 100px;
}

.ofertas img{
  width: 100%;
}

.ofertas p, .articulo p{
  text-align: center;
  color: #FF7052;
}

.central h1{
  display: block;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  color: red;
  text-align: center;
}

.ofertas header, .central h1{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ofertas header{
  background-color: red;
}

.articulo img{
  width: 100%;
}
