body{
  color: #162955;
}

header{
  padding: 10px;
  background-color:  #2E4172;
  color: white;
}

.nav-personalizado, footer {
  background-color: #2E4172;
  color: white;
  margin: 0px;
}

.nav-personalizado li:hover{
  cursor: pointer;
  background-color: #7887AB;
}

.nav-personalizado a:hover{
  color: white !important;
}

.nav-personalizado a.activado:hover{
  color: #777 !important;
}

.nav-personalizado ul li a{
  color: #7887AB;
}

.logo{
  background-color: #7887AB;
  text-shadow: 0px 0px 10px white;
  font-weight: bolder;
    color: white;
    font-size: 50px;
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  border-radius: 0px 30px 30px 0px;
  border: 5px solid #4F618E;
}

footer, .separador{
  clear: both;
  display: block;
}

footer{
  position: relative;
  width: 100%;
  bottom: 0px;
}

.activado{
  background-color: white !important;
  color: #4F628E !important;
}

.central{
  min-height: 400px;
  padding-top: 100px;
  background-color: white;
}

table{
  border: 2px solid gray;
  box-shadow: 0px 0px 10px gray;
}

input.Valores{
  color: gray;
  border: 1px solid gray;
  box-shadow: 0px 0px 2px gray;
}

.ofertas{
  padding-top: 100px;
}

.ofertas img{
  width: 100%;
}

.ofertas p, .articulo p{
  text-align: center;
}

.central h1{
  display: block;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  color: red;
  text-align: center;
}

.ofertas header, .central h1{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ofertas header{
  background-color: red;
}

.cartel-ofertas{
  text-align: center;
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}

.articulo img{
  width: 100%;
}

.contacto {
  text-align: center;
}

#pagCatalogo{
  padding: 40px;
  text-align: center;
}

#pagCatalogo #agregar{
  margin-top: 20px;
}

.prodfiltrado{
  display: none;
}

.filtro, .prodfiltrado{
  list-style-type: none;
  text-decoration: none;
  color: #222;
}

.filtro{
  background-color: #7887AB;
}
