body {
  color: white;
  background-color: #076324;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 10px white;
}

header {
  padding: 10px;
  box-shadow: 0px 0px 10px black;
}

#jugar, footer, header, #tirar{
  background-color: #084253;
}

header h1{
  margin: 0px;
  font-weight: bold;
  text-shadow: 0px 0px 10px white;
  font-size: 40px;
}

.notificaciones{
  border: 5px solid white;
  padding: 10px;
}

.credit{
  font-size: 20px;
}

form {
  white-space: pre-wrap;
}

.pop, .tabla, .apuestas{
  animation: pop 0.5s;
  -webkit-animation: pop 0.5s;
}

@-webkit-keyframes example {
  0% {transform: scale(0);}
  50%  {transform: scale (1.5);}
  100%  {transform: scale(0);}
}

@keyframes pop{
  0% {transform: scale(0);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

footer{
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.separador, footer{
  clear: both;

}

#central{
  min-height: 35.5em;
}

#cantidad{
  font-size: 30px;
  color: #333;
  margin: 10px;
}

#jugar{
  font-size: 30px;
}

#jugar:hover{
  color: #084253;
  background-color: white;
  box-shadow: 0px 0px 10px white;
}

#cantidad:focus{
  box-shadow: 0px 0px 10px white;
}

/*---------------------------------------------------------------------------*/
.tabla, .apuestas {
  border: 5px solid white;
  padding: 0px;
}

.tabla{
  border-radius: 95px 95px 0px 0px;
  font-size: 60px;
}

.tabla input, .apuestas input{
  color: white;
  display: none;
  border: 5px solid white;
}

.adicionales, #cero{
  background-color: transparent;
}

#cero{
  border: none;
}

#central input:hover{
  text-shadow: 0px 0px 10px white;
}

#central input:focus{
  text-shadow: 0px 0px 20px white;

}

.numN{
  background-color: black;
}

.numR{
  background-color: #861A09;
}

.apuestas{
  font-size: 40px;
}

.resaltado{
  text-shadow: 0px 0px 10px white;
}

.tablaDeApuestas{
  font-size: 20px;
}

.apuestas, .tablaDeApuestas{
    position: relative;
    margin-top: 91px;
}

.tablaDeApuestas span{
  display: block;
}

#ganador{
  font-size: 60px;
  text-align: center;
  color: gold;
}
/*---------------------------------------------------------------------------*/
