body{
  margin: 0px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url("VINILO.png");
}

.barraNav{
  z-index: 1;
  top: 20px;
  overflow: hidden;
  background-color: #222222;
  box-shadow: 0px 0px 15px gray;
  position: fixed;
}

.barraNav ul{
  margin: 0px;
}

.barraNav li{
  display: inline-block;
}

.barraNav li:hover{
  margin: 0px;
  background-color: #555555;
  color: black;
}

.barraNav li a{
  display: block;
  color: #F37E2B;
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
}

.encabezado {
  text-align: center;
  overflow: hidden;
  height: 100px;
  border-bottom: 7px dashed #222222;
}

.encabezado img{
  position: absolute;
  height: 100px;
  right: 0px;
}

.titulo{
  display: inline-block;;
}

.titulo h1{
  font-family: 'Trocchi', serif;
  font-size: 45px;
}

.titulo h3{
  font-weight: 400;
  font-style: italic;
}

.titulo h1, h3{
  color: #222222;
  margin: 0px;
}

.footer, .encabezado{
    box-shadow: 0px 0px 50px #F37E2B;
    width: 100%;
    background-color: #F37E2B;
}

.footer {
  height: 50px;
  border-top: 7px dashed #222222;
  bottom: 0px;
}

.footer img{
  display: block;
  height: 50px;
  position: absolute;
  right: 10px;
}

.noticias {
  width: 20%;
  height: 100%;
  display: inline-block;
  background-color: #F37E2B;
}

.noticia{
  margin: 10%;
  overflow: hidden;
  height: 300px;
  width: 80%;
  background-color: white;
  opacity: 0.5;
}

.central {
  height: 100%;
  background-color: white;
  opacity: 0.7;
  display: inline-block;
}
